# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Local Database & Snapshots & Storage
data/safety_stop.db
backend/*.db
*.db
data/snapshots/
data/minio/
data/redis/
.venv/

# Node environment
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large test videos
data/test_videos/stop.mp4
