# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Local Database & Snapshots
data/safety_stop.db
data/snapshots/

# Node environment
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large test videos
data/test_videos/stop.mp4
